@use './_variables.scss' as *;
@use './_mixins.scss' as *;
$main-color: #04a2df;
$white: #fff;

$width: 414px;
$width-tablet: 830px;

.image_navbar {
    padding-bottom: 50px;
}

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};

@mixin tablet {
    @media (max-width: #{$width-tablet}){
        @content
    }
}

