@use '../styles/_variables.scss' as *;
@use '../styles/_mixins.scss' as *;

.informatique_section_title {
  text-align: center;
  font-size: 2.2em;
  padding-top: 50px;
  text-transform: uppercase;
  animation: fadeIn 3s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}



.card_informatique {
  display: flex;
  align-items: center;
  margin: 50px 0;
  flex-direction: column; // Mobile-first

  @include tablet {
    flex-direction: row;
  }

  .card_informatique_left_side {
    width: 100%; // Mobile-first
    animation: slideInLeft 2s ease-in-out;

    @include tablet {
      width: 50%;
    }

    @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    img {
      width: 100%;
      border-radius: 15px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .card_informatique_right_side {
    width: 100%; // Mobile-first
    padding: 20px;
    animation: slideInRight 2s ease-in-out;


    @include tablet {
      width: 50%;
      padding: 0 20px;
    }

    @keyframes slideInRight {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    

    .informations_informatique {
      display: flex;
      align-items: center;
      margin: 10px 0;

      @include mobile {
        flex-direction: column;
        text-align: center;
      }

      .icons_informatique {
        font-size: 30px;
        color: $main-color;
        margin-right: 15px;

        @include mobile {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      h3 {
        font-size: 1.2em;
        color: $main-color;
        margin: 0;
      }
    }
  }
}
